<div class="container">
  <div class="card">
    <div class="card-body">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a href="/home" class="navbar-brand">Home</a>
      </nav>
      <hr>
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <app-users></app-users> -->
</div>
<div class="footer">
  <div class="container">
    <span>All rights reserved <i class="fa-solid fa-copyright"></i> 2022
      <a href="https://www.nissanwin.com/en/?region_slug=japan-a-o&brand_slug=all">
        My GitHub
      </a>
    </span>
  </div>
</div>