<div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="../userlist" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
                <span>
                    <i class="fa fa-home fa-3x">

                    </i>
                </span>
                Users list
            </a>
        </div>
        <div class="col-sm">
            <a href="../user" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
                <span>
                    <i class="fa fa-dashboard fa-3x">
    
                    </i>
                </span>
                Add user
            </a>
        </div>
        <div class="col-sm">
            <a href="../login" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
                <span>
                    <i class="fa fa-sign-in fa-3x">
    
                    </i>
                </span>
                Sign in
            </a>
        </div>
        <div class="col-sm">
            <a href="../manager" role="button" class="btn btn-outline-primary btn-lg btn-block text-center">
                <span>
                    <i class="fa fa-money fa-3x">
    
                    </i>
                </span>
                Reports
            </a>
        </div>
    </div>
</div>